.admin-layout {
  display: flex;
  height: 100vh;
  background-color: #f3f4f6;
}

.dark .admin-layout {
  background-color: #0f172a;
}

.admin-layout__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  background-color: #f3f4f6;
  color: #111827;
}

.dark .admin-layout__main {
  background-color: #0f172a;
  color: #f3f4f6;
}
