.patient-layout {
  display: flex;
  height: 100vh;
  background-color: #edf6ff;
}

.dark .patient-layout {
  background-color: #0f172a;
}

.patient-layout__main {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: #edf6ff;
  color: #111827;
}

.dark .patient-layout__main {
  background-color: #0f172a;
  color: #f3f4f6;
}
